apiVersion: v1
kind: Endpoints
metadata:
  creationTimestamp: null
  labels:
    app: {{  ansible_nodename.split(".")[0] | lower }}-external-svc
    k8s-app: node_exporter
    name: {{  ansible_nodename.split(".")[0] | lower }}-external-svc
  name: {{  ansible_nodename.split(".")[0] | lower }}-external-svc
subsets:
- addresses:
  - ip: {{ hostvars[ansible_nodename].glusterfs_ip }}
  ports:
  - name: node-exporter
    port: 9100
    protocol: TCP
