apiVersion: v1
kind: Endpoints
metadata:
  creationTimestamp: null
  labels:
    app: {{  ansible_nodename.split(".")[0] | lower }}-gluster-svc
    k8s-app: gluster_exporter
    name: {{  ansible_nodename.split(".")[0] | lower }}-gluster-svc
  name: {{  ansible_nodename.split(".")[0] | lower }}-gluster-svc
subsets:
- addresses:
  - ip: {{ hostvars[ansible_nodename].glusterfs_ip }}
  ports:
  - name: gluster-exporter
    port: 8080
    protocol: TCP
