apiVersion: v1
kind: Service
metadata:
  labels:
    k8s-app: gluster_exporter
  name: {{  ansible_nodename.split(".")[0] | lower }}-gluster-svc
spec:
  externalName: {{ hostvars[ansible_nodename].glusterfs_ip }}
  ports:
  - name: metrics
    port: 8080
    protocol: TCP
    targetPort: 8080
  sessionAffinity: None
  type: ExternalName
